# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- script: cd backend && dotnet build --configuration Release
  displayName: 'dotnet build'

- script: cd frontend && npm install
  displayName: 'npm install'

- script: ng build --prod=true
  displayName: 'ng build'
